.CommentListItem-content--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.CommentListItem-text {
    font-size: 1.5rem;
    white-space: pre-wrap;
    word-break: break-all;
    padding-right: 3rem;
}
.CommentListItem-modify__button,
.CommentListItem-delete__button {
    cursor: pointer;
}
.CommentListItem-recent__update__date,
.CommentListItem-modify__button,
.CommentListItem-delete__button {
    margin-right: 0.5rem;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
}
.CommentListItem-recent__update__date {
    font-size: 0.9rem;
}
.CommentListItem-register__subcomment {
    cursor: pointer;
}
.CommentListItem-modify__button:hover,
.CommentListItem-delete__button:hover {
    color: #ff5000;
    border-color: #ff5000;
}
