.HomePage-post__list--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0 -10px 20px rgb(0 0 0 / 5%);
}
.HomePage-post--title {
    font-family: "Apple SD Gothic NeoSB";
    font-size: 2rem;
    display: flex;
    justify-content: left;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.HomePage-post-empty--container {
    display: flex;
    margin-top: 8rem;
    font-family: "Apple SD Gothic NeoSB";
    color: #333;
    font-size: 1.5rem;
}
.HomePage-post-empty--container .focus-text {
    color: #ff5000;
}
.HomePage-post-list {
    width: 100%;
}
